@use "@kickstartds/core/source/core/container";
@include container.wrapper("teaser-card");

.dsa-teaser-card {
  --dsa-teaser-card--background: var(--ks-background-color-card-interactive);

  --dsa-teaser-card--border-width: 0;
  --dsa-teaser-card--border-color: transparent;
  --dsa-teaser-card--border-color_hover: var(--ks-border-color-card-interactive-hover);
  --dsa-teaser-card--border-radius: var(--ks-border-radius-card);

  --dsa-teaser-card--shadow: none;
  --dsa-teaser-card--shadow_hover: var(--ks-box-shadow-card-hover);

  --dsa-teaser__topic--color: var(--dsa-topic--color);

  --dsa-teaser-card__label--font: var(--ks-font-copy-s);
  --dsa-teaser-card__label--font-weight: var(--ks-font-weight-semi-bold);
  --dsa-teaser-card__label--color: var(--ks-color-fg-to-bg-2);

  --dsa-teaser-card__date--font: var(--ks-font-interface-s);
  --dsa-teaser-card__date--font-weight: var(--ks-font-weight-regular);
  --dsa-teaser-card__date--color: var(--ks-color-fg-to-bg-4);

  --dsa-teaser-card__tag--font: var(--ks-font-interface-s);
  --dsa-teaser-card__tag--font-weight: var(--ks-font-weight-semi-bold);
  --dsa-teaser-card__tag--color: var(--ks-color-fg-inverted);
  --dsa-teaser-card__tag--background-color: var(--ks-color-secondary);
  --dsa-teaser-card__tag--padding: 0.5em 1em;
  --dsa-teaser-card__tag--border-radius: var(--ks-border-radius-pill);
  --dsa-teaser-card__tag--border: 0;

  //Scaling for Mobile Breakpoint
  --dsa-teaser-card__topic--font: var(--ks-font-display-l);
  --dsa-teaser-card__topic--font-weight: var(--dsa-topic--font-weight);

  --dsa-teaser-card__copy--font: var(--dsa-rich-text--font);
  --dsa-teaser-card__copy--color: var(--ks-text-color-default);

  --dsa-teaser-card--padding: var(--ks-spacing-inset-l);

  @media (min-width: 48em) {
    //Scaling for Desktop Breakpoint SmallTiles
    --dsa-teaser-card__topic--font: var(--ks-font-display-s);
    --dsa-teaser-card__copy--font: var(--ks-font-copy-s);
    --dsa-teaser-card--padding: var(--ks-spacing-inset-m);

    //Scaling for Desktop Breakpoint MediumTiles
    @include container.size("≥", 300px, "teaser-card") {
      --dsa-teaser-card__copy--font: var(--ks-font-copy-m);
      --dsa-teaser-card__topic--font: var(--ks-font-display-m);
    }

    // Scaling for Desktop Breakpoint LargeTiles
    @include container.size("≥", 820px, "teaser-card") {
      --dsa-teaser-card__topic--font: var(--ks-font-display-l);
      --dsa-teaser-card__copy--font: var(--ks-font-copy-l);
      --dsa-teaser-card--padding: var(--ks-spacing-inset-l);
    }
  }
}
