@use "teaser-card-tokens.scss";
@use "@kickstartds/core/source/core/container";
@include container.wrapper("teaser-card");

.l-container--teaser-card {
  display: flex;
}

.dsa-teaser-card {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  transition: var(--ks-transition-hover);

  &:hover {
    transform: translateY(-0.5em);
  }

  &.dsa-teaser-card--new {
    .c-teaser {
      box-shadow: 0 0 0 3px var(--ks-color-secondary) !important;
    }
  }

  .c-teaser {
    --c-teaser--padding: var(--dsa-teaser-card--padding, var(--ks-spacing-inset-l));
    --c-teaser--background: var(--dsa-teaser-card--background, var(--ks-background-color-card-interactive));
    --c-teaser--color: var(--dsa-teaser-card__copy--color, var(--ks-text-color-default));

    --c-teaser--border: var(--dsa-teaser-card--border-color, var(--ks-background-color-card-interactive))
      var(--dsa-teaser-card--border-width) solid;

    --c-teaser--border-radius: var(--dsa-teaser-card--border-radius, var(--ks-border-radius-card));
    --c-teaser--shadow-hover: var(--dsa-teaser-card--shadow_hover, var(--ks-box-shadow-card-hover));

    position: relative;
    transition-property: border-color, background-color, box-shadow;
    box-shadow: var(--dsa-teaser-card--shadow, var(--ks-box-shadow-card));

    img {
      object-fit: cover;
    }
  }

  &--wide {
    img {
      aspect-ratio: 4/3;
    }
  }

  &--landscape {
    img {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    img {
      aspect-ratio: 1/1;
    }
  }

  .c-rich-text {
    font: var(--dsa-teaser-card__copy--font, var(--dsa-rich-text--font, var(--ks-font-copy-m)));
  }

  .c-teaser__topic {
    display: flex;
    flex-direction: column;
    gap: 0.125em;
    color: var(--dsa-teaser__topic--color, var(--dsa-topic--color));
    font: var(--dsa-teaser-card__topic--font, var(--dsa-topic--font));
    font-weight: var(--dsa-teaser-card__topic--font-weight, var(--dsa-topic--font-weight));
  }

  &__label {
    font: var(--dsa-teaser-card__label--font, var(--ks-font-copy-s));
    color: var(--ks-color-fg-to-bg-3);
    font-weight: var(--dsa-teaser-card__label--font-weight);
    color: var(--dsa-teaser-card__label--color);
  }

  &__date {
    font: var(--dsa-teaser-card__date--font, var(--ks-font-interface-s));
    color: var(--ks-color-fg-to-bg-3);
    font-weight: var(--dsa-teaser-card__date--font-weight);
    color: var(--dsa-teaser-card__date--color);
  }

  .dsa-teaser-card__tag {
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    border-radius: var(--dsa-teaser-card__tag--border-radius);
    border: var(--dsa-teaser-card__tag--border, 0);
    pointer-events: initial;
    padding: var(--dsa-teaser-card__tag--padding);
    transform: translate(calc(var(--dsa-teaser-card--border-radius) * -1), -54%);
    font: var(--dsa-teaser-card__tag--font);
    text-align: center;
    font-weight: var(--dsa-teaser-card__tag--font-weight);
    color: var(--dsa-teaser-card__tag--color);
    background-color: var(--dsa-teaser-card__tag--background-color);
  }

  .c-button.c-button--clear.dsa-button {
    --dsa-button_secondary--color: var(--dsa-button_primary--color);
    --dsa-button_secondary--color_hover: var(--dsa-button_primary--color_hover);
    --dsa-button_secondary--color_active: var(--dsa-button_primary--color_active);

    --dsa-button_secondary--background-color: var(--dsa-button_primary--background-color);
    --dsa-button_secondary--background-color_hover: var(--dsa-button_primary--background-color_hover);
    --dsa-button_secondary--background-color_active: var(--dsa-button_primary--background-color_active);
  }

  @include container.size("≥", 640px, "teaser-card") {
    &--unset {
      img {
        height: 100%;
      }
    }

    &--row {
      .c-teaser {
        flex-direction: row;

        .c-teaser__body {
          justify-content: center;
          flex-basis: 50%;

          .c-teaser__text {
            flex: 0;
          }
        }

        > :first-child:not(.c-teaser__body) {
          flex: 50%;
        }
      }
    }
  }
}
