:root {
  .dsa-testimonials {
    --dsa-testimonials__quote--font: var(--ks-font-display-xl);
    --dsa-testimonials__quote--font-weight: var(--ks-font-weight-thin);
    --dsa-testimonials__source--color: var(--ks-text-color-primary);
    --dsa-testimonials__source--font: var(--ks-font-copy-xl);
  }
}
